@font-face{font-family:Inter;src:url('/assets/inter-regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:Inter;src:url('/assets/inter-medium.ttf') format('truetype');font-weight:500 550;font-style:normal;font-display:swap}
@font-face{font-family:Inter;src:url('/assets/inter-semibold.ttf') format('truetype');font-weight:600 800;font-style:normal;font-display:swap}
